@model INFASS.Models.User

@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
}

<div class="container-fluid auth-container">

    <div class="row auth-card">

        <!-- LEFT PANEL -->
        <div class="col-lg-6 left-panel d-none d-lg-flex">
            <img src="/assets/img/avataaars.svg" class="avatar mb-4" alt="avatar" />
            <h1>START BOOTSTRAP</h1>
            <hr class="divider">
            <p>Graphic Artist - Web Designer - Illustrator.</p>
        </div>

        <!-- RIGHT PANEL -->
        <div class="col-lg-6 right-panel">
            <h2>LOGIN</h2>
            <p class="subtitle">Welcome back! Login to continue.</p>

            <div id="login-alert" class="alert d-none"></div>

            <form id="loginForm" onsubmit="return false;">
                <div class="mb-4">
                    <input id="email" type="email" class="form-control custom-input" placeholder="Email" />
                </div>

                <div class="mb-4">
                    <input id="password" type="password" class="form-control custom-input" placeholder="Password" />
                </div>

                <button id="loginBtn" type="button" class="btn login-btn w-100">LOGIN</button>
            </form>

            <div class="text-center mt-4">
                Don't have an account?
                <a asp-action="Register">Register</a>
            </div>
        </div>

        <!-- Show left panel below form on small screens -->
        <div class="col-12 d-lg-none left-panel">
            <img src="/assets/img/avataaars.svg" class="avatar mb-4" alt="avatar" />
            <h1>Start Bootstrap</h1>
            <hr class="divider">
            <p>Graphic Artist - Web Designer - Illustrator.</p>
        </div>

    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#loginBtn').click(function () {
                var email = $('#email').val();
                var pass = $('#password').val();

                if (!email || !pass) {
                    alert('Email and password are required.');
                    return;
                }

                $.ajax({
                    url: '/loginUser',
                    method: 'POST',
                    data: {
                        email: email,
                        pass: pass
                    },
                    success: function (res) {
                        if (res && res.success) {
                            window.location.href = '/Home/Index'
                        } else {
                            alert('Login failed.');
                        }
                    },
                    error: function (xhr) {
                        var msg = 'Login failed.';
                        if (xhr && xhr.responseText) {
                            try {
                                var json = JSON.parse(xhr.responseText);
                                if (json && json.error) msg = json.error;
                            } catch (e) {
                                msg = xhr.responseText;
                            }
                        }
                        alert(msg);
                    }
                });
            });
        });
    </script>
}